main{

  @include clearfix();

  //section-about
  .section-about{
    float:left;
    width:66.6666%;
    min-height:42rem;
    padding:7rem 0 6.5rem 6rem; 
    background-color:#ededed;
    @include clearfix();

    @include mq('small-screen-1'){
      width:100%;
    }
    @include mq('small-screen-2'){
      padding:7rem 6rem 6.5rem 6rem;
      width:100%;
      height:54rem;
    }
    @include mq('small-screen-3'){
      padding:7rem 6rem 6.5rem 6rem;
      width:100%;
      height:60rem;
    }

    &-words{
      padding:2rem 2rem 0 0;
      float:left;
      width:65%;

      @include mq('small-screen-2'){
        width:100%;
      }
      @include mq('small-screen-3'){
        width:100%;
      }
      
      p{
        padding:1.5rem 0;
        font-size:1.4rem;
        font-weight: 400;
        text-align: justify;
      }

    }
    &-photo{
      float:left;
      width:35%;
      position: relative;

      @include mq('small-screen-2'){
        width:100%;
      }
      @include mq('small-screen-3'){
        width:100%;
      }


      .photo{
        position: absolute;
        width:18rem;
        height:12rem;
        transition: all .5s;

        @include mq('small-screen-2'){
          top: 3rem !important;
          left:50% !important;
        }

        @include mq('small-screen-3'){
          top: 3rem !important;
          left:50% !important;
        }

        &:hover{
          padding:1rem;
          transform:scale(1.1);
          border:3px solid $color-primary;
          z-index: 10;
        }

        &:nth-child(1){
          left:1rem;
          top:3rem;
          @include mq('small-screen-2'){
            transform: translateX(-120%);
          }
          @include mq('small-screen-3'){
            transform: translateX(-120%);
          }
        }
        &:nth-child(2){
          left:6rem;
          top:10rem;
        }

        img{
          width:100%;
          height:100%;
          box-shadow: 3px 3px 9px 0px rgba(0,0,0,0.5);
        }
      }
    }
  }

  //section-etc
  .section-etc{
    float:left;
    width:33.3334%;

    @include mq('small-screen-1'){
      width:100%;
    }

    @include mq('small-screen-2'){
      width:100%;
    }
    @include mq('small-screen-3'){
      width:100%;
    }



    //etc-1, etc-2, etc-3...
    // [id^="etc-"] 또는 [class^="etc-"]
    [id^="etc-"]{
      height:14rem;
    }
    .etc{
      @include mq('small-screen-1'){
        width:33.3333%;
        float:left;
      }

      @include mq('small-screen-2'){
        height:22rem;
        width:33.3333%;
        float:left;
      }

      &:nth-child(1){
        background-color: $color-blue-1;
      }
      &:nth-child(2){
        background-color: $color-blue-2;
      }
      &:nth-child(3){
        background-color: $color-blue-3;
      }

      .etc-icon{
        padding:3.5rem 0 0 0;
        float:left;
        width:30%;
        text-align: center;
        i{
          font-size:6rem;
        }
      }
      .etc-text{
        padding-top:1rem;
        float:left;
        width:70%;
        p{
          margin:0.5rem 0;
          padding-right:3.5rem;
          text-align: justify;
          font-size:1.4rem;
        }
      }

    }
  }
}