
.btn-text{
  display: inline-block;
  padding:0 0 3px 0;
  font-size:1.6rem;
  font-weight:700;
  text-decoration: none;
  color:$color-primary;
  border-bottom: 2px solid $color-primary;
  transition: all .5s;

  &:hover{
    background-color: $color-secondary;
    color:$color-white;
    border-bottom: none;
  }
}